h1 {
    box-sizing: border-box;
    display: inlines;
    font-family: ;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    height: auto;
    line-height: 32.5px;
    overflow-wrap: break-word;
    text-align: center;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}
h2{
    text-align: center;
    color: rgb(rgb(7, 7, 7), green, blue)
    font-family: ;
}
    





